version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5435:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  prisma:
    image: node:20
    container_name: prisma_cli
    working_dir: /app/backend
    volumes:
      - ./:/app
    networks:
      - app_network
    depends_on:
      - postgres
    command: >
      sh -c "sleep 10 && npm install && npx prisma generate && npx prisma migrate dev --name init"

  pgadmin:
    image: dpage/pgadmin4:7
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    networks:
      - app_network
    depends_on:
      - postgres

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@postgres_db:5432/mydb?schema=public"
      JWT_SECRET: "data_aman"
      ENC_SECRET: "data_terlindungi"
    container_name: backend_app
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    networks:
      - app_network
    depends_on:
      - postgres

  frontend:
  build:
    context: ./frontend
    dockerfile: Dockerfile
  container_name: frontend_app
  restart: always
  ports:
    - "80:80"
  networks:
    - app_network
  depends_on:
    - backend

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge
